*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.telaAlimentoSelecionado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 1000px;
    border-radius: 16px;
}
.titulo{
    width: 100%;
    padding: 6px;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;

}
.textoPorcao{
    font-style: italic;
}
.imagemPrato{
    width: 600px;
    height: 400px;
    border-radius: 16px;
    margin: 16px 8px;
}
.containerTelaPrato{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 8px;
    gap: 16px;
    color: black;
    background-color: #ffffff;
}
.tituloTabela{
    width: 70%;
    padding: 10px;
    font-size: 24px;
    background-color: #CD021B;
    color: #ffffff;
    padding: 16px;
    border-radius: 16px;
}
.tabela{
    width: 70%;

}
.linhaTabela{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.textoTabela{
    padding: 6px;
    font-size: 16px;
}
.botaoVoltar{
    margin: 8px;
    padding: 16px;
    font-size: 24px;
    background-color: #CD021B;
    color: #ffffff;
    transition: transform 0.1s ease-in-out;
}
.botaoVoltar:hover{
    transform: scale(1.1);
    background-color: #333333;
}

@media (max-width: 768px) {
    .telaAlimentoSelecionado{
        width: 100%;
    }
    .titulo{
        font-size: 32px;
    }
    .tituloTabela{
        width: 75%;
        font-size: 18px;
        padding: 8px;
    }
    .textoTabela{
        font-size: 16px;
    }
    .imagemPrato{
        width: 360px;
        height: 180px;
    }
    .tabela{
        width: 75%;
    }
    .botaoVoltar{
        font-size: 16px;
        padding: 6px 18px;
    }
}
