#componentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 32px;
    border-radius: 16px;
    width: 1200px;
}
.row{
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 768px){
    .row{
        justify-content: center;
        gap: 16px;
    }
    #componentes{
        width: 600px;
    }
}
