.containerBotaoCamera{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding: 16px;
    border: 3px solid #000;
    border-radius: 80px;
    background-color: rgb(1, 0, 48);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
.containerBotaoCamera:hover{
    transform: scale(1.05);
    background-color: #363333;
}
.iconeCamera{
    width: 100%;
}